@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,800&display=swap");

.p-center {
  margin: auto;
  display: block;
  text-align: center;
}

.f-inter {
  font-family: "Inter", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}

.fs-name {
  font-size: 21.57px;
  font-weight: 700;
  padding: 20.35px 0;
}

.link {
  background-color: #eaecf0;
  border: 1px solid transparent;
  border-radius: 9px;
  padding: 26px, 35px, 26px, 35px;
  margin: 15.94px 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}

.flex .icon {
  display: flex;
  justify-content: space-around;
  width: 8vw;
}

.link-name {
  font-size: 18px;
  font-weight: 500;
  padding: 19px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.profile-section {
  margin: 6% 7%;
}

.link-section {
  margin: 25.8px 0;
}

@media only screen and (max-width: 600px) {
  .profile-section {
    margin: 6% 2%;
  }
  .flex .icon {
    width: 18vw;
  }
}
